{% extends 'base.html' %}

{% block main %}
<div class="row">
    <div class="col-sm">
        Primeira coluna
    </div>
    <div class="col-sm">
        Olá {{ usuario.funcionario.nome }}
        <a href="{% url 'funcionario_list' %}">Gerenciar Funcionários</a>
        <a href="{% url 'departamento_list' %}">Gerenciar Departamentos</a>
        <a href="{% url 'hora_extra_list' %}">Gerenciar Banco de Horas</a>
    </div>
    <div class="col-sm">
        <a href="{% url 'logout' %}">Logout</a>

        {% if usuario.funcionario.empresa %}
        <a href="{% url 'empresa_edit' usuario.funcionario.empresa.id %}">Editar empresa</a>
        {% else %}
        <a href="{% url 'empresa_create' %}">Criar Empresa</a>
        {% endif %}
    </div>

</div>


{% endblock %}